.schoolhistory {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  /* padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px; */
}

.schoolhistorycontainer {
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

 
}

.schoolhistorycontent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.principalimg {
  width: 100%;
  
}

.historytitle h1 {
  font-family:"Brush Script MT Italic";
  font-style: italic;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px; 


}
.historytitle span {
  font-family:"Brush Script MT Italic";
  font-style: italic;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px; 


}


/* MEDIA */

@media(max-width: 960px){

  .schoolhistorycontent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

}
